*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    width : 100vw;
    overflow: hidden;
}

nav {
    height : 10vh;
    width : 100%;
    padding : 5px 15px;
    background-color: #ccc;
}

.logo-container {
    height : 50px;
    width : 50px;
    border-radius: 100%;
    display: none;
}

.kurakaani-logo {
    height : 100%;
    width : 100%;
    object-fit: cover;
    border-radius: 100%;
}

.nav-list {
    padding-top: 12px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-list li a {
    text-decoration: none;
    color: #000;
}




.short-description-container{
    width : 100%;
    padding : 10px;
    background-color: #eee;
    color : #000;
}

.admins-container , .teachers-container {
    width : 100%;
    background-color: #eee;
    margin-top: 20px;
}

.title-container , .teacher-title-container {
    text-align : center;
    background-color: #aaa;
    padding : 8px 0;
}


.admins , .teacher{
    margin-bottom : 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admins img , .teacher img {
    height : 40px;
    width : 40px;
    object-fit: cover;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 15px
}

.admin-1 , .teacher{
    margin-top: 15px;
}

.admin-3 {
    margin-bottom: 15px;
    padding-bottom: 15px;
}


.icons-container{
    padding : 10px;
    width : 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-container i{
    color: #e67e22;
    font-size: 100%;
    cursor: pointer;
}

@media only screen and (min-width : 500px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo-container {
        display: inline-block;
    }
    
    .nav-list {
    }
    
    .nav-list li {
        display: inline-block;
        margin-right: 15px;
    }
}

@media only screen and (min-width : 600px) {
    .icons-container , .teachers-icon-container {
        width : 22%;
    }
}

@media only screen and (min-width : 1000px) {

    .other-items-container {
        display: flex;
    }
    
    .admins-container {
        margin-left: 20px;
    }
    
    .admins-container ,.teachers-container {
        margin-right: 20px;
    }

    .icons-container , .teachers-icon-container {
        width : 30%;
    }
    
    .nav-list {
        width : 30%;
    }
    
}








